.dashboard{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    background-color: #F4F6F9;
   
}
app-sidebar{
    height: 100vh;
    margin: 0px;
    
}
.content{
    margin-left:100px;
}