<div class="homepage">
    <img src="https://lh3.googleusercontent.com/p/AF1QipM8B8CU8nR_-QFGYX2Y0ZZ67hemtlsSmj2g30e5=s1360-w1360-h1020" alt="Some description" class="bg-image">
    <div class="content">
    <div class="logo">
        <img class="img1"   src="https://upload.wikimedia.org/wikipedia/fr/1/13/Universit%C3%A9_Carthage_logo.png" alt="">
        <img class="img2"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Tunisia.svg/langfr-1280px-Flag_of_Tunisia.svg.png" alt="">
        <img class="img3"  src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-6/307019500_406726328308523_6144492276052704972_n.png?_nc_cat=101&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=NlDswp5mHJwQ7kNvgFinCmP&_nc_oc=AdgTBSpKhEsX__knbs_yctZm2tRRewdK1OFmMEvXH9Hra_I-JjPj0dTSrp1TIKZlWII&_nc_zt=23&_nc_ht=scontent.ftun1-2.fna&_nc_gid=Awl4Ks3AiNWu7Fy1UxIyKP_&oh=00_AYDYq_bsODSr2duyWHThifF0e4hoznYybYwdgAtAMeMFmQ&oe=67C8FDD6" alt="">
    </div>
    <div class="choices">
<a routerLink="/student_login">
        <img class="student" src="/graduated.png">
        <h1>ESPACE ETUDIANT </h1>
</a>
<a [routerLink]="">
    
        <img class="student" src="/teacher.png">
        <h1>ESPACE ENSEIGNANT</h1>
    
</a>
<a [routerLink]="">
   
        <img class="student" src="/office-building.png">
        <h1>ESPACE RESPONSABLE SERVICE ENSEIGNANTS</h1>
  
</a>
    </div>
    </div>
</div>



