<div class="homepage">
    <img src="https://lh3.googleusercontent.com/p/AF1QipM8B8CU8nR_-QFGYX2Y0ZZ67hemtlsSmj2g30e5=s1360-w1360-h1020" alt="Some description" class="bg-image">
    <div class="content">
    <div class="logo">
        <img class="img1"   src="https://upload.wikimedia.org/wikipedia/fr/1/13/Universit%C3%A9_Carthage_logo.png" alt="">
        <img class="img2"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Tunisia.svg/langfr-1280px-Flag_of_Tunisia.svg.png" alt="">
        <img class="img3"  src="https://upload.wikimedia.org/wikipedia/fr/c/c2/Logo_ENICarthage.jpg" alt="">
    </div>
    <div class="choices">
<a routerLink="/student_login">
        <img class="student" src="/graduated.png">
        <h1>ESPACE ETUDIANT </h1>
</a>
<a [routerLink]="">
    
        <img class="student" src="/teacher.png">
        <h1>ESPACE ENSEIGNANT</h1>
    
</a>
<a [routerLink]="">
   
        <img class="student" src="/office-building.png">
        <h1>ESPACE RESPONSABLE SERVICE ENSEIGNANTS</h1>
  
</a>
    </div>
    </div>
</div>



