<div class="container">
	<form class="form" [formGroup]="form" (ngSubmit)="submit()">
	  <p class="form-title">Sign in to your account</p>
  
	  <div class="input-container">
		<input
		  class="input"
		  placeholder="Enter email"
		  type="email"
		  formControlName="email"
		/>
		<span>
		  <!-- SVG icon -->
		</span>
		<div class="error-container">
		  <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
			   class="error">
			Please enter a valid email.
		  </div>
		</div>
	  </div>
  
	  <div class="input-container">
		<input
		  class="input"
		  placeholder="Enter password"
		  type="password"
		  formControlName="password"
		/>
		<span>
		  <!-- SVG icon -->
		</span>
		<div class="error-container">
		  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
			   class="error">
			Password is required.
		  </div>
		</div>
	  </div>
  
	  <button class="submit" type="submit" [disabled]="form.invalid">
		Sign in
	  </button>
  
	  <div *ngIf="error" class="error">{{ error }}</div>
  
	  <p class="signup-link">
		No account ?
		<a routerLink="/student_signup">Sign up</a>
	  </p>
	</form>
  </div>
  