<div class="makeup-request-form">
    <h2>Déposer une demande de rattrapage</h2>
    <form  (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="dateDebut">Date Début</label>
          <input type="date" id="dateDebut" formControlName="dateDebut" class="form-control">
        </div>
        <div class="form-group">
          <label for="dateFin">Date Fin</label>
          <input type="date" id="dateFin" formControlName="dateFin" class="form-control">
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label for="classe">Classe</label>
          <select id="classe" formControlName="classe" class="form-control">
            <option value="">Sélectionner une classe</option>
            <option value="Classe 1">Classe 1</option>
            <option value="Classe 2">Classe 2</option>
            <!-- Add more classes dynamically from your data -->
          </select>
        </div>
        <div class="form-group">
          <label for="specialite">Spécialité</label>
          <select id="specialite" formControlName="specialite" class="form-control">
            <option value="">Sélectionner une spécialité</option>
            <option value="Informatique">Informatique</option>
            <option value="Autre Spécialité">Autre Spécialité</option>
            <!-- Add more specialities dynamically -->
          </select>
        </div>
        <div class="form-group">
          <label for="groupe">Groupe</label>
          <select id="groupe" formControlName="groupe" class="form-control">
            <option value="">Sélectionner un groupe</option>
            <option value="Groupe A">Groupe A</option>
            <option value="Groupe B">Groupe B</option>
            <option value="Groupe C">Groupe C</option>
            <option value="Groupe D">Groupe D</option>
            <!-- Add more groups dynamically -->
          </select>
        </div>
        <div class="form-group">
          <label for="idAbsence">id Absence</label>
          <input type="text" id="idAbsence" formControlName="idAbsence" class="form-control">
        </div>
      </div>
  
  
      <div class="form-group">
        <label for="label">Label</label>
        <input type="text" id="label" formControlName="label" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="commentaire">Commentaire Optionnelle</label>
        <textarea id="commentaire" formControlName="commentaire" class="form-control"></textarea>
      </div>
  
  
      <button type="submit" class="btn-primary">Envoyer</button>
    </form>
  </div>